@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/** Variables **/
/* Text */
$text_color : rgb(27, 27, 27);
$text_font  : 'Roboto', sans-serif;
/* Buttons */
$button_color : rgb(197, 197, 197);
$button_hover_color : rgb(255, 233, 161);
/* Media Queries */
$MQ-1 : 290px;
$MQ-2 : 480px;
$MQ-3 : 1024px;
$MQ-4 : 1440px;
$MQ-5 : 1920px;
$MQ-6 : 2560px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $text_font;
}

.main_content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Top Area */
    .top_area {
        width: auto;
        height: 5%;
        .services {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin: 10px;
            a {
            /* Buttom size and Style */
            padding: 8px;
            border: 2px solid rgb(0, 0, 0);
            background-color: $button_color;
            /* Text */
            text-decoration: none;
            color: $text_color;
            &:hover {
                background-color: $button_hover_color;
            }
            /* Media Queries */
            @media (min-width: #{$MQ-4}) and (max-width: #{$MQ-5 - 1px}) {
                font-size: 20px;
            }
            @media (min-width: #{$MQ-6}) {
                font-size: 24px;
            }
            }
        }
    /* Top Area */
    }
    .mid_area {
        width: auto;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo {
            width: 640px;
            height: 235px;
            background: url(https://raw.githubusercontent.com/Marffe/Leelgo_Unsearch_Engine/main/resources/LeelgoLogo.png);
            background-size: cover;
            margin: 12px;
            @media (min-width: #{$MQ-1}) and (max-width: #{$MQ-2 - 1px}) {
                width: 271px;
                height: 99px;
            }
            @media (min-width: #{$MQ-2}) and (max-width: #{$MQ-3 - 1px}) {
                width: 383px;
                height: 141px;
            }
            @media (min-width: #{$MQ-6}) {
                width: 1120px;
                height: 411px;
            }
        }
        .action_zone form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input {
                width: 640px;
                padding: 8px;
                border: 2px solid rgb(0, 0, 0);
                font-size: 18px;
                @media (min-width: #{$MQ-1}) and (max-width: #{$MQ-2 - 1px}) {
                    width: 271px;
                    font-size: 16px;
                }
                @media (min-width: #{$MQ-2}) and (max-width: #{$MQ-3 - 1px}) {
                    width: 383px;
                }
                @media (min-width: #{$MQ-6}) {
                    width: 1120px;
                    font-size: 24px;
                }
            }
            button {
                width: 320px;
                padding: 8px;
                margin-top: 12px;
                border: 2px solid rgb(0, 0, 0);
                font-size: 18px;
                background-color: $button_color;
                &:hover {
                    background-color: $button_hover_color;
                }
                @media (min-width: #{$MQ-1}) and (max-width: #{$MQ-2 - 1px}) {
                    width: 136px;
                    font-size: 14px;
                }
                @media (min-width: #{$MQ-2}) and (max-width: #{$MQ-3 - 1px}) {
                    width: 192px;
                }
                @media (min-width: #{$MQ-6}) {
                    width: 560px;
                    font-size: 24px;
                }
            }
        }
    }
    .bot_area {
        width: auto;
        height: 5%;
        background-color: rgb(170, 170, 170);
    }
}